<launch>
  <arg name="rate" default="1" />
  <arg name="file" default="/catkin_ws/2023-02-27-16-01-09_mod.bag" />

  <node name="talker" pkg="rosbag" type="play" output="screen" args="-l -r $(arg rate) $(arg file)"/>
  <node name="listener" pkg="nyokkey" type="listener.py" output="screen" />
</launch>