@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <h3>Robotic Arm</h3>
    <table>
        <tr>
            <th>Id</th>
            <th>Timestamp</th>
            <th>Ang1j</th>
            <th>Ang2j</th>
            <th>Ang3j</th>
            <th>Ang4j</th>
            <th>Ang5j</th>
            <th>Ang6j</th>
        </tr>
        <tr id="robot1">
            <td>robot1</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr id="robot2">
            <td>robot2</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr id="robot3">
            <td>robot3</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr id="robot4">
            <td>robot4</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
    </table>

    <div class="w-100">
        <hr />
    </div>

    <h3>Nyokkey</h3>
    <table>
        <tr>
            <th>Topic</th>
            <th>Data</th>
        </tr>
        <tr id="location">
            <td>/nyokkey/hmi/location</td>
            <td>0</td>
        </tr>
        <tr id="rightarm">
            <td>/nyokkey/hmi/rightarm</td>
            <td>0</td>
        </tr>
        <tr id="leftarm">
            <td>/nyokkey/hmi/leftarm</td>
            <td>0</td>
        </tr>
        <tr id="face">
            <td>/nyokkey/hmi/face</td>
            <td>0</td>
        </tr>
        <tr id="task">
            <td>/nyokkey/hmi/task</td>
            <td>0</td>
        </tr>
    </table>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/roboticArm.js"></script>
<script src="~/js/nyokkey.js"></script>
